.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paragraph {
  font-size: 21px;
  font-weight: 500;
}

.article {
  font-size: 12px;
  font-weight: 300;
}
