.navigation {
  display: flex;
  gap: 20px;
  font-size: 20px;
  background-color: rgba(32, 30, 30, 0.2);
  padding: 20px 12px;
  border-radius: 4px;
}

.link {
  background-color: rgba(10, 5, 34, 0.2);
  display: block;
  padding: 5px 10px;
  color: black;
  border-radius: 3px;
}
